*{
  font-family: 'Montserrat', sans-serif;
  margin:0%;
  box-sizing: border-box;
}

header{
  width:100vw;
  display:flex;
  justify-content: flex-end;
  flex-direction: row;
  background-color:rgb(234, 235, 242);
  padding-left:3%;
  padding-right: 3%;
  padding-top:2%;
  padding-bottom: 2%;
  color:rgb(3, 25, 155);
  position:fixed;
  }
  nav{  
  margin-left: 50px; 
  margin-right:50px;
  }
  .ul1{
  display:flex;
  flex-direction: row;
  list-style:none;
 }
   
.ml-50{
 margin-left:50px;
}

  a{
  text-decoration: none;
  
  }
.contacto{
  display:flex;
  width: 160px;
  border-radius: 35px;
  background-color: #536DFE;
  justify-content: center;
  align-items: center;
  height: 40px;
  color:white;
 }
 
   
  main{ 
  display:flex;
  padding-left:100px;
  width: 100vw;
  height:800px;
  background-color: #d4f2f9;
  align-items: center;
  color:#536DFE ;  
 }

h1 {
  font-size: 56px;
  font-weight: 900;
  color:#536DFE;
}
h2 {
font-size:30px;
}
h3{
  font-size:20px;
  font-weight:500;
  margin:2%;
}

.sectionizq{
  display:flex;
justify-content: center;
align-self: center;
flex-direction: column;
width: 50vw;
}

.loquehago{
  display:flex;
  width: 180px;
  border-radius: 35px;
  background-color: #536DFE;
  margin-top: 10%;
  height: 50px;
  color:darkblue;
  justify-content: center;
  align-items: center;
  color:white;
}

.sectionder{
  width:50vh;
  padding-right: 200px;
  }
 .main2{ 
  display:flex;
  padding-left:100px;
  width: 100vw;
  height:900px;
  background-color: #F0F7FC; 
  align-items: center;
  color:#536DFE ;  
  justify-content: flex-start;
  padding:10%;
  flex-direction: column;
 }

p{
  margin:2%;
  color:darkblue;
  text-align: center;
}
.cajas{
  margin-top:3%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.cajita{
  display:flex;
  width:258px;
  height:231px;
  border-radius: 20%;
  background-color:rgb(234, 235, 242);
  margin:10px;
  font-size: 150px;
  padding-left:3px;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
.main3{
  padding-left:200px;
  padding-right: 200px;
  background-color: #536DFE ; 
  color:rgb(234, 235, 242);
  display:flex;
  width: 100vw;
  height:500px;
  text-align: center;
 }

.main4{
  display:flex;
  padding-left:100px;
  width: 100vw;
  height:900px;
  background-color: #F0F7FC; 
  align-items: center;
  color:#536DFE ;  
  justify-content: flex-start;
  padding:10%;
  flex-direction: column;
}

.enorme{
  margin-top:12%;
  border-radius: 25px solid grey;
  width:85vw;
  height: 85vh;
  background-color:white;
  display: flex;
   justify-content: flex-start;
  align-items:flex-start;
}
.contactame{
  width: 50%;
  height: 100%;
  padding-left:10%;
  padding-top:5%;
  padding-right:3%
}

ul{
  padding-top: 10%;
}

.escribime{
  flex-grow: 1;
  height: 100%;
  padding-left:10%;
  padding-top:5%;
  display:flex;
  flex-direction: column;
}
 .renglonentero{
   width:80vh;
   display: flex;
   flex-direction: row;
   margin-top: 2%;
  } 

label{
    margin-right: 140px;
  }
input{
  border-radius: 25% solid lightgray;
  width:200px;
  height: 30px;
  margin-top: 3%;
  margin-left:3%;
  flex-direction: row;
  }

.marg{
  margin-top:3%;
  margin-bottom: 3%;
}
.renglon{
    border-radius: 25% solid lightgray;
  width:420px;
  height: 30px;
  margin-top: 3%;
  margin-left:3%;
  flex-direction: row;
}
.main5{
display:flex;
  padding-left:100px;
  width: 100vw;
  height:800px;
  background-color: #d4f2f9;
  align-items: center;
  color:#536DFE ;  
 }
 
 footer{
  padding-left:200px;
  padding-right: 200px;
  background-color: #536DFE ; 
  color:rgb(234, 235, 242);
  display:flex;
  width: 100vw;
  height:500px;
  text-align: center;
  flex-direction: row;
  justify-content: center;
 }
 
 .padd{
   padding:10px
 }
 .iconos{
   
   font-size: ;
 }