*{
    font-family: 'Montserrat', sans-serif;
  margin:0%;
  box-sizing: border-box;
}

header{
  width:100vw;
  display:flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 3%;
  background-color:lightgrey;
  
  }
   nav{  
  margin:25px; 
  }
  ul{
  display:flex;
  flex-direction: row;
  list-style:none;
  
  
   }
span{
  padding-left:20px;  
  }
  a{
  text-decoration: none;
  color:darkblue
}
.contacto{
  width:13@0px;
  border-radius: 35px;
  background-color: whitesmoke;
  padding:3px;
  height: 40px;
}
   
  main{ 
  display:flex;
  padding-left:50px;
  margin-right: 50px;
  flex-direction: row;
  width: 100vw;
  height:500px;
  background-color: lightsteelblue;
  align-items: center;
  color:darkblue;   
  flex-direction: row;
}

 .sectionizq{
font-size: 22px;
flex-grow:1;
}
.sectionder{
  flex-grow:1 
  }
  p{

  }